In [1]:
import pandas as pd

In [17]:
df = pd.read_csv("../data/tweets.csv", usecols=["tweet_id", "airline_sentiment", "text"], nrows=500)

In [18]:
df.head()

,tweet_id,airline_sentiment,text
0,570306133677760513,neutral,@VirginAmerica What @dhepburn said.
1,570301130888122368,positive,@VirginAmerica plus you've added commercials t...
2,570301083672813571,neutral,@VirginAmerica I didn't today... Must mean I n...
3,570301031407624196,negative,@VirginAmerica it's really aggressive to blast...
4,570300817074462722,negative,@VirginAmerica and it's a really big bad thing...

In [19]:
df.describe()

           tweet_id
count  5.000000e+02
mean   5.690399e+17
std    7.614923e+14
min    5.677421e+17
25%    5.684520e+17
50%    5.690560e+17
75%    5.696746e+17
max    5.703061e+17

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tweet_id           500 non-null    int64
 1   airline_sentiment  500 non-null    object
 2   text               500 non-null    object
dtypes: int64(1), object(2)
memory usage: 11.8+ KB

In [21]:
df.count()

tweet_id             500
airline_sentiment    500
text                 500
dtype: int64

In [22]:
df.shape

(500, 3)

In [25]:
df.dtypes

tweet_id              int64
airline_sentiment    object
text                 object
dtype: object

In [26]:
df.columns

Index(['tweet_id', 'airline_sentiment', 'text'], dtype='object')

In [32]:
df.isnull().sum()

tweet_id             0
airline_sentiment    0
text                 0
dtype: int64

In [36]:
df.groupby("airline_sentiment").count()

                   tweet_id  text
airline_sentiment
negative                181   181
neutral                 168   168
positive                151   151